# ALL OF THE VALUE ARE CASE-SENSITIVE, INPUT IN EXACT VALUE (upper or lower)
# TẤT CẢ GIÁ TRỊ CỦA BIẾN LÀ CASE-SENSITIVE, HÃY NHẬP ĐÚNG IN HOẶC THƯỜNG THEO YÊU CẦU

ask_remove_latex = ''                       # Y/N
ask_confirm_character = ''                  # [a]dd / [r]emove / [u]pdate / [A]bort
ask_sort_dict = ''                          # Y/N
ask_print_final_dictionary = ''             # Y/N
ask_create_macro = ''                       # Y/N